:root {
    --primary-color: #58a6ff;
    --secondary-color: #00eaff;
    --background-color: #0b1520;
    --card-background: #11202E;
    --text-color: #cfd9e8;
}

/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}


.text {
    flex: 1;
    max-width: 480px;
}

.text h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--primary-color);
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
    opacity: 0.85;
}


.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 28px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 6px 20px rgba(18, 129, 255, 0.611);
}

.btn:hover {
    background: var(--secondary-color);
    transform: translateY(-3px);
}


.img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art {
    width: 100%;
    max-width: 700px;
    padding: 18px;
}

.art img {
    width: 100%;
    border-radius: 10px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        padding: 32px;
    }

    .left h1 {
        font-size: 36px;
    }

    .art {
        max-width: 520px;
    }
}
